<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/4295/black-and-white-alcohol-bar-drinks.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Find your perfect <span class="pink-text">cocktail</span> !</h1>
    <p><em>“No amount of physical contact could match the healing powers of<br>a well made cocktail.”</em>&nbsp;&nbsp;&nbsp;- David Sedaris</p>
    <%= render "./shared/search_bar_index" %>
  </div>
</div>

<div class="home-cards-list">
  <div class="container">
    <h2>Discover our finest selection</h2>
      <div class="home-cards">
        <% if @cocktails.empty? %>
          <span class="no-results-text">
            No results found...
          </span>
        <% else %>
          <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail_path(cocktail) do %>
              <div class="home-card">
                <div class="home-card-image">
                  <% if cocktail.photo.attached? %>
                    <%= cl_image_tag cocktail.photo.key %>
                  <% else %>
                    <%= image_tag "default_cocktail.jpg" %>
                  <% end %>
                </div>
                <div class="home-card-content">
                  <h4><%= cocktail.name %></h4>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
