<div class="container form-new">
  <img src="https://images.pexels.com/photos/1838611/pexels-photo-1838611.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <div class="form-content">
    <div class="form-content-title">
      <h2>Create your own cocktail !</h2>
      <div class="separator"></div>
    </div>
    <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.submit "Create the cocktail", class: "btn-add btn-form" %>
      <%= link_to "Cancel", root_path, class: "btn-cancel" %>
    <% end %>
  </div>
</div>


