<div class="container form">
  <img src="https://images.pexels.com/photos/5320052/pexels-photo-5320052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  <div class="form-content">
    <h2>Manage the ingredient</h2>
    <%= simple_form_for(@dose) do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description %>
      <%= f.submit "Save your changes", class: "btn-add btn-form" %>
      <%= link_to "Cancel", cocktail_path(@dose.cocktail), class: "btn-cancel" %>
    <% end %>
  </div>
</div>



